<div class="container interface">
	<h2 class="text-secondary">{% trans 'TITLE_EDIT_CLIENT_COURSES' %}</h2>
	<hr>
	<div class="row justify-content-md-center">
		<div class="col col-sm-12 col-md-6 col-lg-4">
			<div class="list-group alpha-nav-links" id="client-selector">
			{% for client in clients %}
				{% if client.optgroup %}
				<a class="list-group-item disabled alpha-nav-group" tabindex="-1" data-group="{{ client.name }}">{{client.name}}</a>
				{% else %}
				<a href="{{ page.root ~ 'courses/' ~ client.file }}" class="list-group-item list-group-item-action">{{client.name}}</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<label class="text-secondary">{% trans 'ALPHA_NAV_HINT' %}</label>
			<br>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="А" onclick="alphaScroll(this.dataset.value)">А</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Б" onclick="alphaScroll(this.dataset.value)">Б</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="В" onclick="alphaScroll(this.dataset.value)">В</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Г" onclick="alphaScroll(this.dataset.value)">Г</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ґ" onclick="alphaScroll(this.dataset.value)">Ґ</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Д" onclick="alphaScroll(this.dataset.value)">Д</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Е" onclick="alphaScroll(this.dataset.value)">Е</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Є" onclick="alphaScroll(this.dataset.value)">Є</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ж" onclick="alphaScroll(this.dataset.value)">Ж</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="З" onclick="alphaScroll(this.dataset.value)">З</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="И" onclick="alphaScroll(this.dataset.value)">И</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="І" onclick="alphaScroll(this.dataset.value)">І</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ї" onclick="alphaScroll(this.dataset.value)">Ї</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Й" onclick="alphaScroll(this.dataset.value)">Й</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="К" onclick="alphaScroll(this.dataset.value)">К</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Л" onclick="alphaScroll(this.dataset.value)">Л</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="М" onclick="alphaScroll(this.dataset.value)">М</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Н" onclick="alphaScroll(this.dataset.value)">Н</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="О" onclick="alphaScroll(this.dataset.value)">О</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="П" onclick="alphaScroll(this.dataset.value)">П</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Р" onclick="alphaScroll(this.dataset.value)">Р</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="С" onclick="alphaScroll(this.dataset.value)">С</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Т" onclick="alphaScroll(this.dataset.value)">Т</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="У" onclick="alphaScroll(this.dataset.value)">У</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ф" onclick="alphaScroll(this.dataset.value)">Ф</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Х" onclick="alphaScroll(this.dataset.value)">Х</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ц" onclick="alphaScroll(this.dataset.value)">Ц</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ч" onclick="alphaScroll(this.dataset.value)">Ч</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ш" onclick="alphaScroll(this.dataset.value)">Ш</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Щ" onclick="alphaScroll(this.dataset.value)">Щ</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Ю" onclick="alphaScroll(this.dataset.value)">Ю</span>
			<span class="alpha-nav btn btn-secondary btn-sm" data-value="Я" onclick="alphaScroll(this.dataset.value)">Я</span>
		</div>
	</div>
	
	<div class="row mt-4">
		<div class="col">
			<h5 class="text-center">{% trans 'COURSE_ACTIVE' %}</h5>
			{% if courses %}
			<table class="table table-sm sortable">
				<thead class="thead-light">
					<tr>
						<th>{% trans 'NAME' %}</th>
						<th>{% trans 'COURSE_START' %}</th>
						<th>{% trans 'COURSE_END' %}</th>
						<th>{% trans 'DURATION' %}</th>
						<th class="sorting_disabled">{% trans 'IPR_SERVICES' %}</th>
						<th class="sorting_disabled">{% trans 'ADDITIONAL_SERVICES' %}</th>
						<th class="sorting_disabled">{% trans 'COMMENT' %}</th>
						{% if page.user.accessLevel >= page.access.editor %}<th class="sorting_disabled"></th>{% endif %}
					</tr>
				</thead>
				<tbody>
					{% set prev_date = 'none' %}
					{% for course in courses %}
					{% set duration = date(course.course_start).diff(course.course_end) %}
					{% if course.course_end == prev_date %}<tr>{% else %}<tr class="course-separator">{% endif %}
						<td><a href="{{ page.self ~ '/' ~ course.uid }}">{{ course.name }}</a></td>
						<td data-order="{{course.course_start|date("Y-m-d")}}">{{ course.course_start|date("d.m.Y") }}</td>
						<td data-order="{{course.course_end|date("Y-m-d")}}">{{ course.course_end|date("d.m.Y") }}</td>
						<td data-order="{{duration.days}}">{{ duration.days }} {% trans 'DAYS' %}</td>
						<td>{{ course.ipr_svc }}</td>
						<td>{{ course.additional_svc }}</td>
						<td>{{ course.comment}}</td>
						{% if page.user.accessLevel >= page.access.editor %}
						<td>
							<span class="nobr">
							<a class="btn btn-primary btn-sm" href="{{ page.self ~ '/' ~ course.uid ~ '/' ~ course.id ~ '/edit' }}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'EDIT' %}">
								<i class="fas fa-edit fa-fw"></i>
							</a>
							<a class="btn btn-danger btn-sm" href="{{ page.self ~ '/' ~ course.uid ~ '/' ~ course.id ~ '/delete' }}" role="button" data-toggle="tooltip" data-placement="top" title="{% trans 'DELETE' %}" onclick="return confirm('{% trans 'DELETE_CONFIRM' %}')">
								<i class="fas fa-trash-alt fa-fw"></i>
							</a>
							</span>
						</td>
						{% endif %}
					</tr>
						{% set prev_date = course.course_end %}
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-secondary" role="alert">
				{% trans 'MSG_NO_ACTIVE_COURSE' %}
			</div>
			{% endif %}
		</div>
	</div>
</div>