<div class="container interface">
	<h2 class="text-secondary">{% trans 'ACTION_SELECT_MSG' %}</h2>
	<div class="row">
		<div class="col col-2 d-none d-lg-block"></div>
		<div class="col">
			<div class="list-group text-center">
				<a href="{{page.root ~ 'search'}}" class="list-group-item list-group-item-action text-primary"><h5>{% trans 'SEARCH' %}</h5></a>
				<a href="{{page.root ~ 'list'}}" class="list-group-item list-group-item-action text-primary"><h5>{% trans 'LIST' %}</h5></a>
				<a href="{{page.root ~ 'docs'}}" class="list-group-item list-group-item-action text-primary"><h5>{% trans 'DOCS' %}</h5></a>
				<a href="{{page.root ~ 'new'}}" class="list-group-item list-group-item-action text-primary"><h5>{% trans 'NEW_CLIENT' %}</h5></a>
				<a href="{{page.root ~ 'courses'}}" class="list-group-item list-group-item-action text-primary"><h5>{% trans 'COURSES' %}</h5></a>
			</div>
		</div>
		<div class="col col-2 d-none d-lg-block"></div>
	</div>
</div>